.header-div {
  display: flex;
  background-color: #202124;
  justify-content: space-between;
  border: solid 1px rgba(255, 255, 255, 0.3);
  padding: 10px;
  border-radius: 20px;
  position: fixed;  
  width: 80%;
  z-index: 1;
  margin-top: 20px;
}

.header-button {
  border: none;
  background-color: #20212400;
  color: rgba(255, 255, 255, 0.692);
}

.header-button:hover {
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.flag-button {
  border: none;
  background: transparent;
}

.flag-button:hover{
  border: none;
  background: white;
  cursor: pointer;
}
