<div class="header-div">
  <button class="header-button" (click)="goTo('home')"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon></button>
  <button class="header-button" (click)="goTo('/about')">{{ "header_buttons.about" | translate }}</button>
  <button class="header-button" (click)="goTo('/projects')">{{ "header_buttons.projects" | translate }}</button>
  <button class="header-button" (click)="goTo('/contacts')">{{ "header_buttons.contacts" | translate }}</button>
  <div style="color: white">
    Language:
    <div>
      <Button (click)="changeLanguage('portuguese')" style="border: none; background: transparent"><svg-icon [icon]="'brazilFlag'"/></Button>
      <Button (click)="changeLanguage('english')" style="border: none; background: transparent"><svg-icon [icon]="'usFlag'"/></Button>
    </div>
  </div>
</div>
