<p style="color: white">page-about-me works!TASK 5 - Work in "About me" page</p>
<div style="display: flex; justify-content: center">
  <h1 class="first-name">Marcos Cavalcanti, Software Engineer</h1>
</div>
<div style="display: flex; flex-direction: row; justify-content: space-around">
  <div class="whole-div">
    <div><img class="mi-photo" src="assets/images/miimage.png"/></div>
    <div style="border: solid 1px white">Hello i'm Marcos Cavalcanti</div>
    <div style="border: solid 1px white">Software Developer Based in Spain</div>
    <div style="border: solid 1px white; display: flex; flex-direction: row">
      // ADD INSTAGRAM AND LINKEDIN ICONS SVG
      <div style="border: solid 1px white">instagram</div>
      <div style="border: solid 1px white">linkedin</div>
    </div>
  </div>
  <div style="border: solid 1px white">DESCRIPTION</div>
</div>
