<p style="color: white;">page-about-me works!TASK 5 - Work in "About me" page and make it mult languages</p>
<!-- Work in mobile version -->
<div class="center-content">
  <h1 class="first-name">Marcos Cavalcanti, Software Engineer</h1>
</div>
<div class="row-space">
  <div class="whole-div">
    <div><img class="mi-photo" src="assets/images/miimage.png" /></div>
    <div class="about-title">Hello I am Marcos Cavalcanti</div>
    <div class="about-location">Software Developer Based in Spain</div>
    <div class="social-row">
      <a href="https://www.instagram.com/pa_gode/" target="_blank" class="social-link">
        <div>
          <svg-icon icon="instagram" [width]="30" [height]="30"></svg-icon>
        </div>
      </a>
      <a href="https://www.linkedin.com/in/marcos-de-albuquerque-cavalcanti-703398bb/" target="_blank" class="social-link">
        <div>
          <svg-icon icon="linkedin" [width]="30" [height]="30"></svg-icon>
        </div>
      </a>
    </div>
  </div>
  <div class="description-box">
    <div>
      NodeJS
    </div>
    <div>
      Angular
    </div>
    <div>
      Express
    </div>
    <div>
      NestJS
    </div>
    <div>
      MongoDB
    </div>
    <div>
      MongoDB
    </div>
  </div>
</div>
