@keyframes floating {
  0% {margin-top: 0px;}
  40% { margin-top: 5px;}
  50% { margin-top: 6px;}
  60% { margin-top: 5px;}
  100% { margin-top: 0px;}
}

.float-animation {
  padding: 0px;
  animation-name: floating;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  position: absolute;
}