<div class="main-div">
  <div class="whole-div">
    <span>&#9737;</span>
    Sofware Engineer
  </div>
  <div class="main-content-div">
    <div class="text-div">
      <div>
        <h1 class="first-name">Marcos</h1>
        <h1 class="first-name">Cavalcanti</h1>
        <br />
      </div>
      <br />
      <div class="text-description-div">{{ "main_page.title.description" | translate }}</div>
      <br />
      <div class="buttons-div">
        <button class="button-div" [routerLink]="['/projects']">
          {{ "main_page.title.see_all_projects" | translate }}
        </button>
        <button class="button-div-2" [routerLink]="['/contacts']">{{ "main_page.title.contact_now" | translate }}</button>
      </div>
    </div>
    <div class="icons-div">
      <div class="icons-box-div">
        <div class="float-animation float-delay-before">
          <svg-icon [icon]="'node'" [width]="90" [height]="90"/>
        </div>
        <p #asdasdasd class="paragraph"></p>
        <div class="float-animation">
          <svg-icon [icon]="'mongo'" [width]="90" [height]="90"/>
        </div>
       <div class="float-animation float-delay-after">
          <svg-icon [icon]="'nestjs'" [width]="90" [height]="90"/>
        </div>
      </div>
      <div class="icons-box-div">
        <div class="float-animation float-delay-before">
          <svg-icon [icon]="'kubernetes'" [width]="90" [height]="90"/>
        </div>
        <p #asdasdasd class="paragraph"></p>
        <div class="float-animation">
          <svg-icon [icon]="'docker'" [width]="90" [height]="90"/>
        </div>
       <div class="float-animation float-delay-after">
          <svg-icon [icon]="'angular'" [width]="90" [height]="90"/>
        </div>
      </div>
    </div>
  </div>
</div>
