<div class="main-div">
  <div class="whole-div">
    <span>&#9737;</span>
    Sofware Engineer
  </div>
  <div class="main-content-div">
    <div class="text-div">
      <div>
        <h1 class="first-name">Marcos</h1>
        <h1 class="first-name">Cavalcanti</h1>
        <br />
      </div>
      <br />
      <div class="text-description-div">{{ 'title.description' | translate }}</div>
      <br />
      <div class="buttons-div">
        <button class="button-div">{{ 'title.see_all_projects' | translate }}</button>
        <button class="button-div-2">{{ 'title.contact_now' | translate }}</button>
      </div>
    </div>
    <div class="icons-div">
      <div class="icons-box-div">
        <app-animation-test></app-animation-test>
        <div class="float-animation">
          <app-nodejs-svg></app-nodejs-svg>
        </div>
        <p #asdasdasd  class="paragraph"></p>
        <div class="float-animation">
          <app-mongo-db-svg></app-mongo-db-svg>
        </div>
      </div>
    </div>
  </div>
</div>
